<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/styles/pages/anime.css" />
    <main>
        <div class="container bg-body-tertiary rounded-3 d-md-flex">
            <div class="border-end">
                <img class="img-widget-bigger rounded-2" src="<%- resultAnime.image %>" />
                <div class="container light-text">
                    <p class="mt-3"><%- resultAnime.rating %></p>
                    <p><%= resultAnime.aired ? resultAnime.aired : "Aired date not available" %></p>
                    <p>Score: <%= resultAnime.score ? resultAnime.score : "null" %></p>
                    <p>Rank: <%= resultAnime.rank ? resultAnime.rank : "null" %></p>
                    <p>Popularity: <%= resultAnime.popularity ? resultAnime.popularity : "null" %></p>
                    <p>Episodes: <%= resultAnime.episodes %></p>
                    <p>Duration: <%= resultAnime.duration %></p>
                </div>
            </div>
            <div class="ps-3 mt-3">
                <h1 class="bold-text"><%- animeTitle %></h1>
                <p class="me-5 light-text"><%= resultAnime.synopsis ? resultAnime.synopsis : "No synopsis available" %></p>
                <% if (resultAnime.trailer) { %>
                    <iframe width="560" height="315" src="<%= resultAnime.trailer %>" frameborder="0" allowfullscreen></iframe>
                <% } else { %>
                    <p>No trailer available</p>
                <% } %>
            </div>
        </div>
            
    </main>
<%- include("partials/footer.ejs") %>