<%- include("partials/header.ejs") %>
    <div class="container">
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators justify-content-start">
                <% for(let i=0; i<animeName.length; i++) { %>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="<%= i %>" class="<%= i === 0 ? 'active' : '' %>"
                    aria-label="Slide <%= i %>" aria-current="<%= i === 0 ? 'true' : 'false' %>"></button>
                <% } %>
            </div>
            <!-- Carousel Items -->
            <div class="carousel-inner d-flex">
                <% for(let i=0; i<animeName.length; i++) { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <h1 class="bold-text"><%- animeName[i] %></h1>
                                <p class="opacity-75 light-text"><%- animeInfo[i] %></p>
                                <a class="btn btn-lg btn-primary" href="#" style="z-index: 3; position: relative">Learn More</a>
                            </div>
                            <div class="col-md-8 d-flex justify-content-end align-items-center">
                                <img src="/images/<%- animeName[i].replace(/\s+/g, '-') %>-background.jpg" class="img-fluid rounded-5" width="100%" height="100%" aria-hidden="true" focusable="false" />
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev"></button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next"></button>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>