<%- include("partials/header.ejs") %>

<main>
    <div class="container pb-3">
        <div class="bg-body-tertiary border rounded-3">
            <div class="d-md-flex">
                <div class="border rounded-2">
                    <img class="img-widget-bigger rounded-2" src="<%- randomAnime.images.jpg.large_image_url %>" />
                    <div class="container light-text">
                        <p class="mt-3"><%- randomAnime.rating %></p>
                        <p><%= randomAnime.aired.string ? randomAnime.aired.string : "Aired date not available" %></p>
                        <p>Score: <%= randomAnime.score ? randomAnime.score : "null" %></p>
                        <p>Rank: <%= randomAnime.rank ? randomAnime.rank : "null" %></p>
                        <p>Popularity: <%= randomAnime.popularity ? randomAnime.popularity : "null" %></p>
                        <p>Episodes: <%= randomAnime.episodes %></p>
                        <p>Duration: <%= randomAnime.duration %></p>
                    </div>
                </div>
                <div class="ps-3 mt-3">
                    <h1 class="bold-text"><%- animeTitle %></h1>
                    <p class="me-5 light-text"><%= randomAnime.synopsis ? randomAnime.synopsis : "No synopsis available" %></p>
                    <% if (randomAnime.trailer && randomAnime.trailer.embed_url) { %>
                        <iframe width="560" height="315" src="<%= randomAnime.trailer.embed_url %>" frameborder="0" allowfullscreen></iframe>
                    <% } else { %>
                        <p>No trailer available</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>



<%- include("partials/footer.ejs") %>